<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">

<head>
	<base href="{{ .Site.BaseURL }}{{ .URL }}" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{{ if .Params.main }}
	<meta name="keywords" content="хостинг сайтов,
дешевый хостинг,
купить хостинг,
лучший хостинг,
хостинг серверов,
платный хостинг,
хостинг php,
платный хостинг сайтов,
хостинг центр,
хостинг mysql,
самый лучший хостинг," />
{{ end }}
<title>{{ if .Params.titleMeta }}{{ .Params.titleMeta }} {{ else }} {{ .Title }}{{ end }}</title>
{{ with .Description }}
<meta name="description" content="{{ . }}">{{ end }}
	<link href="/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />

		{{ if .Site.IsServer }}
			{{ $css := resources.Get "css/template.css" }}
			<link rel="stylesheet" href="../{{ substr $css.RelPermalink 1 }}"  type="text/css">
		{{ else }}
			{{ $css := resources.Get "css/template.css" | resources.Minify | resources.Fingerprint }}
			<link rel="stylesheet" href="../{{ substr $css.RelPermalink 1 }}" integrity="{{ $css.Data.Integrity }}"  type="text/css">
		{{ end }}
	<!-- <script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19079229-1']);
		_gaq.push(['_trackPageview']);
		(function () {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
				'.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script> -->
</head>

<body>
	<div id="top_line">
		<div class="top_menu">
			<ul class="menu">
				<li class="item-67 menu_item "><a class="link" href="/">Главная</a>
				</li>
				<li class="item-68 menu_item "><a class="link" href="/about">О компании</a>
				</li>
				<li class="item-126 menu_item"><a class="link" href="/contacts">Контакты</a>
				</li>
			</ul>
		</div>
	</div>

	<div id="wrapper">
		<div id="container">
			<div id="header">
				<div class="logo">
					<div class="custom">
						<p><a href="http://bizneshosting.com/"><img src="/img/logo.png" width="100" alt="logo" /></a></p>
					</div>
				</div>
				<div class="stab">
					<div class="fanews_mainwrap autoanim" id="fanews1" style="width: 260px;height: 60px;">
						<div class="fanews_full" style="width: 260px;float: left;">
							<div class="fanews_full_interface">
								<ul class="fanews_full_interface_list swiper-pagination" >
								</ul>
							</div>
							<div class="fanews_full_scroll1 swiper-container" style="width: 260px;">
								<div class="fanews_full_scroll2 swiper-wrapper" style="width: 10000px;">

									<div class="fanews_full_tablewrap swiper-slide" style="width: 260px;">
										<table class="fanews_table" style="width: 260px;">
											<tr>
												<td style="width: 100%;">
													<div class="fanews_bg_wrap"
														style="padding-left: 0px;padding-right: 0px;">
														<h4 class="fanews_header ">Защита</h4>
														<div class="fanews_text ta_left">
															<ul class="safe">
																<li class="first">Стабильность и защита</li>
																<li>Защита от DDOS атак</li>
																<li>Стабильная работа</li>
															</ul>
														</div>
													</div>
												</td>
											</tr>

										</table>
									</div>
									<div class="fanews_full_tablewrap swiper-slide" style="width: 260px;">
										<table class="fanews_table" style="width: 260px;">
											<tr>
												<td style="width: 100%;" class="odd">
													<div class="fanews_bg_wrap"
														style="padding-left: 0px;padding-right: 0px;">
														<h4 class="fanews_header ">Скорость</h4>
														<div class="fanews_text ta_left">
															<ul class="speed">
																<li class="first">Высокая скорость</li>
																<li>Доступ со всех уголков планеты</li>
															</ul>
														</div>
													</div>
												</td>
											</tr>

										</table>
									</div>
									<div class="fanews_full_tablewrap swiper-slide" style="width: 260px;">
										<table class="fanews_table" style="width: 260px;">
											<tr>
												<td style="width: 100%;">
													<div class="fanews_bg_wrap"
														style="padding-left: 0px;padding-right: 0px;">
														<h4 class="fanews_header ">Резервирование</h4>
														<div class="fanews_text ta_left">
															<ul class="rezerv">
																<li class="first">Резервные копии</li>
																<li>Плановое резервное копирование</li>
															</ul>
														</div>
													</div>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div style="float: right"><a title="Faboba : Cr&eacute;ation de composant Joomla"
								style="font-size: 8px;; visibility: visible; display:inline;"
								href="http://www.faboba.com" target="_blank">Fanews by Faboba</a></div>
					</div>
				</div>
				<div class="billing">
					<div class="custom">
						<p class="title"><a href="https://my.bizneshosting.com/" target="_blank">Вход в
								биллинг</a></p>
						<p class="reg"><a href="https://my.bizneshosting.com/"
								target="_blank">Регистрация</a></p>
						<p class="how"> </p>
					</div>

				</div>
			</div>
			{{ block "main" . }}

			{{ end }}
			<div id="content_holder">
				{{ if not .Params.main }}
				<div class="moduletable_nav">
					<div class="breadcrumbs_nav">
						<a href="/" class="pathway">Главная</a> &gt; <span>{{ .Params.single }}</span>
					</div>
				</div>
				{{ end }}
				<div id="content">
					<div id="system-message-container">
					</div>
					<div class="item-page">
						{{ if .Params.main}}
							{{ .Content }}
						{{ else }}
							{{ block "single" . }}
							{{ end }}
						{{ end }}
					</div>
					<div class="content_bottom">
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="footer">
				<div class="flogo">
					<div class="custom">
						<p><a href="http://bizneshosting.com/"><img src="/img/logo_small.png" alt="logo-footer" /></a></p>
						<p class="text"><span>Copyright @ 2020</span> OOO "Бизнес Хостинг"</p>
					</div>
				</div>
				<div class="phone">
					<div class="custom">
						<table>
							<tbody>
								<tr>
									<td>
										<p class="city">Украина</p>
										<p class="number"><span>(0 800)</span>211-593</p>
									</td>
								</tr>
								<tr>
									<td><a class="all_ofices" href="/info/contacts">адреса офисов</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="copy">
					<div class="custom">
						<p><span style="font-size:10px;"><a href="https://plus.google.com/105109308533602809787"
									rel="author">Все материалы данного сайта являются объектами авторского права</a>
							</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<link rel="stylesheet" href="../css/swiper.min.css" type="text/css">
	<script src="../js/swiper.min.js" defer="defer"></script>

	<div style="display:none;">
		{{ if .Site.IsServer }}
		{{ $js := resources.Get "css/script.js" }}
		<script src="../{{ substr $js.RelPermalink 1 }}"></script>
	{{ else }}
		{{ $js := resources.Get "css/script.js" | resources.Minify | resources.Fingerprint }}
		<script src="../{{ substr $js.RelPermalink 1 }}" integrity="{{ $js.Data.Integrity }}"></script>
	{{ end }}
	<!-- Yandex.Metrika counter -->
		<!-- <script>
			(function (w, c) {
				(w[c] = w[c] || []).push(function () {
					try {
						w.yaCounter4126732 = new Ya.Metrika({
							id: 4126732,
							clickmap: true,
							trackLinks: true,
							webvisor: true
						});
					} catch (e) {}
				});
			})(window, "yandex_metrika_callbacks");
		</script>
	</div>
	<script src="//mc.yandex.ru/metrika/watch.js"  defer="defer"></script>
	<noscript>
		<div>
			<img src="//mc.yandex.ru/watch/4126732" style="position:absolute; left:-9999px;" alt="" />
		</div>
	</noscript> -->
	<!-- /Yandex.Metrika counter -->
</body>

</html>