/* Template for - Bizneshosting.com */
/* Made by - DL Studio */
/* Author - Ilia LeeSteR Sidorenko */
/* E-mail - design@studiosdl.com */
/* Web-site - http://stuiosdl.com */
/* Date - 07 aug 2012 */

/* General Settings *********************************************/

HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME,
H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE,
A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE,
DEL, DFN, EM, FONT, IMG, INS, KBD, Q, S, SAMP,
SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR,
B, U, I, CENTER,
DL, DT, DD, OL, UL, LI,
FIELDSET, FORM, LABEL, LEGEND {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
BODY {
  line-height: 1;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  color:#666;
}
OL, UL {
  list-style: none;
}
TABLE {
  border-collapse: collapse;
  border-spacing: 0;
}
A {
  color:#666666;
  text-decoration:none;
}
A:visited {
  color:#999999;
  text-decoration:none;
}
A:hover {
  color:#035781;
  text-decoration: underline;
}
@font-face {
  font-family: 'MyriadPro-It';
  src: url('../fonts/MyriadPro-It.eot');
  src: url('../fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MyriadPro-It.woff2') format('woff2'),
      url('../fonts/MyriadPro-It.woff') format('woff'),
      url('../fonts/MyriadPro-It.ttf') format('truetype'),
      url('../fonts/MyriadPro-It.svg#MyriadPro-It') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
      url('../fonts/MyriadPro-Regular.woff') format('woff'),
      url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
      url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#top_line {
  height:29px;
  width:100%;
  background:#2d2d2d;
  border-bottom:1px solid #000;
}
#top_line .top_menu {
  width:980px;
  height:29px;
  margin:0 auto;
}
#top_line .top_menu .menu {
  display:block;
  float:right;
  margin-right:280px;
}
#top_line .top_menu .menu LI {
  display:block;
  float:left;
  margin:0 0 0 50px;
  line-height:29px;
}
#top_line .top_menu .menu LI A {
  font-family: 'MyriadPro-Regular';
  font-size:16px;
  line-height:29px;
  color:#CCC;
}
#top_line .top_menu .menu li.active a,
#top_line .top_menu .menu li a:hover {
  color:#FFF;
  text-decoration:none;
}
#top_line .top_menu .menu LI.item-67 A {
  background:url('../img/top_menu_home.png') 0 0 no-repeat;
  display:block;
  width:29px;
  height:29px;
  text-indent:-999em;
}
#top_line .top_menu .menu LI.item-67.active A,
#top_line .top_menu .menu LI.item-67 A:hover {
  background:url('../img/top_menu_home.png') 0 -29px no-repeat;
}
#wrapper {
  background:#e4e8eb url('../img/wrapper_bg.png') top center repeat-x;
}
#container {
  background:url('../img/container_bg.png') bottom center no-repeat;
}
#header{width:980px;height:110px;padding:20px 0 0 0;margin:0 auto;position:relative}
#header .logo{ width:310px;height:110px;position:absolute;top:20px;left:0;font-family:'MyriadPro-Regular';font-size:28px;line-height:30px}
#header .logo A{color:#0b8aca}
#header .logo A:hover{text-decoration:none}
#header .logo IMG{float:left;margin-right:5px}
#header .logo SPAN{display:block}
#header .logo .text{padding-top:25px}
#header .stab{width:323px;height:80px;position:absolute;top:52px;left:310px;margin-right:97px;background:url('../img/stab_bg.png') 0 8px no-repeat}
#header .stab .fanews_mainwrap{margin:13px auto 7px auto;padding:0}
#header .stab .fanews_mainwrap .fanews_full{position:relative;height:60px}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_interface{position:absolute;top:5px;width: 20px;right: 4px;}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_interface UL{margin:0}

#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_header{display:none}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL{padding:0 0 0 65px;height:60px}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL.safe{background:url('../img/stab_safe.png') 0 0 no-repeat}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL.speed{background:url('../img/stab_speed.png') 0 0 no-repeat}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL.rezerv{background:url('../img/stab_rezerv.png') 0 0 no-repeat}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL LI{text-align:right;padding:0 30px 0 0;font-family:'MyriadPro-Regular';font-size:14px;color:#333333}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL.safe LI.first{font-size:16px}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL LI.first{font-size:18px;color:#079de7}
#header .billing{width:185px;height:70px;padding-left:65px;position:absolute;top:66px;left:730px;background:url('../img/billing_bg.png') 0 0 no-repeat}
#header .billing .title{font-family: 'MyriadPro-Regular';font-size:18px;line-height:22px;color:#035781;text-shadow:1px 1px #333333}
#header .billing .reg{font-family:'MyriadPro-Regular';font-size:14px;line-height:16px;color:#333333;text-shadow:1px 1px #fff}
#header .billing .how{font-family:'MyriadPro-Regular';font-size:12px;line-height:14px;color:#45791e;text-shadow:1px 1px #fff;margin-top:7px}
#main_module {
  height:428px;
  margin-top:20px;
  /* background:url('../img/main_module_pg.png') top center no-repeat; */
}
#content_holder {
  margin:20px auto 0 auto;
  width:942px;
  border-top:1px solid #9b9ea0;
  padding:0;
  position:relative;
}
#content_holder.mainpage {
  background:url('../img/content_holder_bg.png');
}
#content_holder #content {
  width:722px;
  float:left;
  padding:10px;
  background:url('../img/content_holder_bg.png');
}
#content_holder.mainpage #content {
  background:none;
}
#content_holder #sidebar {
  width:200px;
  float:right;
}
.clear {
  clear:both;
  width:100%;
  height:1px;
  float:none;
}
#content H1{
  text-align:left!important;
  font-size:20px;
  font-family:Arial;
  font-style:italic;
  font-weight:normal;
  color:#6c767e;
  margin:0 0 15px 0;
}
#content H2{
  text-align:left!important;
  font-size:16px;
  font-family:Arial;
  font-style:italic;
  font-weight:normal;
  color:#6c767e;
  margin:0 0 5px 0;
}
#content H2  {
  color:#17709d;
}

#content a {
  color:#ff6600!important;
}

#content .article-info {
  display:none;
}
#content P {
  text-align:justify!important;
  font-size:14px!important;
  font-family:Arial!important;
  line-height: 18px!important;
}
#content .blog .items-row {
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px solid #999;
}
#sidebar .moduletable H3 {
  font-size:18px;
  line-height:24px;
  margin-bottom:5px;
  font-weight:normal;
  font-family: 'MyriadPro-Regular';
  color:#6c767e;
}
#footer {
  width:980px;
  height:160px;
  margin:100px auto 0 auto;
}
#footer .flogo {
  width:300px;
  height:100px;
  float:left;
  font-family:'MyriadPro-Regular';
  font-size:13px;
  line-height:15px;
  color:#828282;
}
#footer .flogo IMG {
  float:left;
  margin-right:5px;
}
#footer .flogo SPAN {
  display:block;
}
#footer .flogo .text {
  padding-top:25px;
}
#footer .phone {
  width:500px;
  height:90px;
  padding-top:10px;
  float:left;
}
#footer .phone .city {
  font-family:'MyriadPro-Regular';
  font-size:24px;
  line-height:27px;
  color:#56616a;
  border-bottom:2px dashed #56616a;
  float:left;
  margin-bottom:5px;
  max-width: 100px;
}
#footer .phone .number {
  font-family:tahoma;
  font-size:20px;
  line-height:22px;
  color:#2d4150;
  margin-bottom:5px;
  margin-right:30px;
}
#footer .phone .number SPAN {
  font-size:18px;
}
#footer .phone .all_ofices {
  display:block;
  height:25px;
  padding-left:25px;
  background:url('../img/all_ofices.png') 0 0 no-repeat;
  line-height:25px;
  font-family:'MyriadPro-Regular';
  font-size:14px;
  color:#0b8aca;
  text-decoration:underline;
}
#footer .copy {
  width:180px;
  height:70px;
  padding-top:30px;
  float:left;
  text-align:right;
  font-family:'MyriadPro-Regular';
  font-size:14px;
  line-height:15px;
  color:#828282;
}


#content_holder .moduletable_nav {
  position:absolute;
  top:-16px;
  left:0;
  height:16px;
  overflow:hidden;
  font-size:11px;
  line-height:16px;
  font-family:Arial
}
#content_holder .moduletable_nav A:hover {
  text-decoration:none;
}


#mainmod {
	width:980px;
	margin:0 auto;
}
#mainmod .mainmod_nav {
	width:980px;
	padding-top:7px;
	height:55px;
}
#mainmod .mainmod_nav LI {
	display:block;
	float:left;
	padding-bottom:5px;

}
#mainmod .mainmod_nav LI.selected {
	background:url('../img/nav_active_bottom.png') bottom center no-repeat;
}
#mainmod .mainmod_nav LI A {
	display:block;
	height:42px;
	padding:0 40px;
	line-height:42px;
	color:#096a9b;
	font-size:30px;
	font-family: 'MyriadPro-Regular';
	font-style:Italic;
}
#mainmod .mainmod_nav LI.selected A {
	background:url('../img/nav_active.png') top left repeat-x;
	text-shadow:1px 1px #fff;
}
#mainmod .mainmod_nav LI A:hover {
	text-decoration:none;
	text-shadow:1px 1px #fff;
}
#mainmod #host {
	padding:20px 20px 5px 20px;
}
#mainmod #host .host_content {
	background:url('../img/price_bg.png') 0 170px repeat-x;
}
#mainmod #host .host_headers {
	width:200px;
	float:left;
	padding-top:30px;
}
#mainmod #host .host_item {
	width:132px;
	margin-left:20px;
	float:left;
}
#mainmod #host .host_item.first {
	margin-left:0px;
}
#mainmod #host .host_item .host_name {
	background:url('../img/host_name.png') top center no-repeat;
	display:block;
	height:29px;
	line-height:29px;
	text-align:center;
	color:#0f7db4;
	font-size:22px;
	font-family: 'MyriadPro-Regular';
}
#mainmod #host .host_item:hover .host_name {
	background:url('../img/host_name_active.png') top center no-repeat;
}
#mainmod #host .host_clear {
	clear:left;
}
#mainmod #host .host_quote, 
#mainmod #host .host_sites,
#mainmod #host .host_msql,
#mainmod #host .host_traffic,
#mainmod #host .host_ftp {
	height:28px;
	line-height:28px;
	text-align:center;
	font-size:20px;
	color:#303030;
	font-family: 'MyriadPro-It';
}
#mainmod #host .host_name {
	margin-bottom:1px;
}
#mainmod #host .host_headers .host_quote, 
#mainmod #host .host_headers .host_sites,
#mainmod #host .host_headers .host_msql,
#mainmod #host .host_headers .host_traffic,
#mainmod #host .host_headers .host_ftp {
	text-align:left;
	color:#6c767e;
	font-size:18px;
	font-family: 'MyriadPro-It';
}
#mainmod #host .host_headers .host_quote SPAN, 
#mainmod #host .host_headers .host_sites SPAN,
#mainmod #host .host_headers .host_msql SPAN,
#mainmod #host .host_headers .host_traffic SPAN,
#mainmod #host .host_headers .host_ftp SPAN {
	color:#1990cc;
}
#mainmod #host .host_headers .price_selector {
	height:88px;
	background:url('../img/price_selector.png') left center no-repeat;
}
#mainmod #host .host_headers .price_selector .period {
	height:55px;
	position:relative;
}
#mainmod #host .host_headers .price_selector .period P {
	font-size:18px;
	color:#6c767e;
	font-family: 'MyriadPro-It';
	padding:4px 3px;
}
#mainmod #host .host_headers .price_selector .period #month_period {
	position:absolute;
	top:25px;
	left:15px;
	display:block;
	padding:0px;
	margin:0px 5px;
	color:#0b8aca;
	font-family: 'MyriadPro-It';
	font-size:18px;
	line-height:18px;
	border-bottom:2px dashed #0b8aca;
}
#mainmod #host .host_headers .price_selector .period #month_period.active {
	left:10px;
	padding:0px 5px;
	color:#333333;
	border-bottom:none;
	background:#FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset #666 2px 2px 2px;
	-moz-box-shadow: inset #666 2px 2px 2px;
	box-shadow: inset #666 2px 2px 2px;	
}
#mainmod #host .host_headers .price_selector .period #month_period:hover {
	cursor:pointer;
	text-decoration:none;
}
#mainmod #host .host_headers .price_selector .period #year_period {
	position:absolute;
	top:25px;
	left:105px;
	display:block;
	padding:0px;
	margin:0px 5px;
	color:#0b8aca;
	font-family: 'MyriadPro-It';
	font-size:18px;
	line-height:18px;
	border-bottom:2px dashed #0b8aca;
}
#mainmod #host .host_headers .price_selector .period #year_period.active, #uah{
	left:10px;
	padding:0px 5px;
	color:#333333;
	border-bottom:none;
	background:#FFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset #666 2px 2px 2px;
	-moz-box-shadow: inset #666 2px 2px 2px;
  box-shadow: inset #666 2px 2px 2px;	
  margin-top: 5px;
}
#mainmod #host .host_headers .price_selector .period #year_period:hover {
	cursor:pointer;
	text-decoration:none;
}
#mainmod #host .host_headers .price_selector .currency {
  height:33px;
  display: flex;
  align-items: center;
  margin-top: -4px;
}
#mainmod #host .host_headers .price_selector .currency a {
margin-top: 0px;
}
#mainmod #host .host_headers .price_selector .currency P {
	font-size:18px;
	color:#6c767e;
	font-family: 'MyriadPro-It';
	padding:4px 3px;
	width:80px;
	float:left;
}
#mainmod #host .host_headers .price_selector .currency.ua .selectBox-dropdown {
	background:url('ua_bg.jpg') left center no-repeat;
}
#mainmod #host .host_headers .price_selector .currency.ru .selectBox-dropdown {
	background:url('ru_bg.jpg') left center no-repeat;
}
#mainmod #host .host_headers .price_selector .currency.us .selectBox-dropdown {
	background:url('us_bg.jpg') left center no-repeat;
}
#mainmod #host .host_traffic .minus {
	color:red;
	font-weight:bold;
}
#mainmod #host .host_traffic .plus {
	color: #049a04;;
	font-weight:bold;
}
#mainmod #host .host_quote {
	font-size:24px;	
}
#mainmod #host .host_quote SPAN {
	font-size:14px;	
}
#mainmod #host .host_headers .host_quote SPAN {
	font-size:18px;	
}
#mainmod #host .host_item:hover .host_quote,
#mainmod #host .host_item:hover .host_sites,
#mainmod #host .host_item:hover .host_msql,
#mainmod #host .host_item:hover .host_traffic,
#mainmod #host .host_item:hover .host_ftp {
	background:#eaedf0;
}
#mainmod #host .host_item .currency {
	height:88px;
}
#mainmod #host .host_item .currency P {
	height:88px;
	text-align:center;
	color:#303030;
	font-size:36px;
	line-height:88px;
	font-family: 'MyriadPro-It';
}
#mainmod #host .host_item .currency P SPAN {
	color:#666666;
	font-size:24px;
	font-family: 'MyriadPro-It';
}
#mainmod #host .host_item .order {
	height:25px;
	padding-top:10px;
}

div.fanews_mainwrap {
	overflow: hidden;
	color: #575757;
	padding-bottom: 10px;
	background: none;
	/*border: 1px solid #f5f5f5;*/
}

div.fanews_full {
}

#fanews1 div.fanews_full_interface {
	overflow: inherit;
	min-height: 21px;
}
#fanews1 div.fanews_full_interface ul {
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 0;
	float: left;
	width: auto;
}
#fanews1 div.fanews_full_interface ul li {
    background: #eee;
	cursor: pointer;
	float: left;
	width: 11px;
	height: 12px;
	margin-left: 2px;
	text-indent: -999em;
	padding: 0;
	background: transparent url('../images/bullet_white_inactive.png') no-repeat 0 0;
}
#fanews1 div.fanews_full_interface ul li.active {
    background: transparent url('../images/bullet_white_active.png') no-repeat 0 0;
}
#fanews1 div.fanews_interface_bg {
	float: right;
	width: 44px;
	height: 18px;
        background: transparent url('../images/arrow_interface_white.png') no-repeat 0 0;
}
#fanews1 div.fanews_full_prev {
	width: 8px;
	height: 8px;
	float: left;
	margin: 3px 0 0 11px;
        background: transparent url('../images/prev.png') no-repeat 0 0;
	text-indent: -999em;
}
#fanews1 div.fanews_full_prev:hover {
	cursor: pointer;
        background: transparent url('../images/prev.png') no-repeat -8px 0;
}
#fanews1 div.fanews_full_next {
	width: 8px;
	height: 8px;
	float: right;
	margin: 3px 11px 0 0;
        background: transparent url('../images/next.png') no-repeat 0 0;
	text-indent: -999em;
}
#fanews1 div.fanews_full_next:hover {
	cursor: pointer;
        background: transparent url('../images/next.png') no-repeat -8px 0;
}
#fanews1 div.fanews_full_scroll1 {
	overflow: hidden;
}
#fanews1 div.fanews_full_scroll2 {
}
#fanews1 div.fanews_full_tablewrap {
	float: left;
}
.custom tr:first-child td{
  display: flex;
  flex-direction: column;
}

#header .stab .fanews_mainwrap .fanews_full .fanews_full_interface UL{margin:0}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_interface UL 
span.swiper-pagination-bullet{background:url('../img/stab_nav.png') 0 -6px no-repeat;cursor:pointer;float:none;width:17px;height:6px;margin:0 0 8px 0;text-indent:-999em;padding:0; opacity: 1;border-radius: 0px;}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_interface UL 
span.swiper-pagination-bullet:hover{background:url('../img/stab_nav.png') 0 -12px no-repeat}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_interface UL 
span.swiper-pagination-bullet.swiper-pagination-bullet-active{background:url('../img/stab_nav.png') 0 0px no-repeat}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_header{display:none}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL{padding:0 0 0 65px;height:60px}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL.safe{background:url('../img/stab_safe.png') 0 0 no-repeat}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL.speed{background:url('../img/stab_speed.png') 0 0 no-repeat}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL.rezerv{background:url('../img/stab_rezerv.png') 0 0 no-repeat}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL span.swiper-pagination-bullet{text-align:right;padding:0 30px 0 0;font-family:'MyriadPro-Regular';font-size:14px;color:#333333}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL.safe span.swiper-pagination-bullet.first{font-size:16px}
#header .stab .fanews_mainwrap .fanews_full .fanews_full_scroll1 .fanews_bg_wrap UL span.swiper-pagination-bullet.first{font-size:18px;color:#079de7}

.contact-maps{
  margin-bottom: 32px;
}
.contentpane{
font-family: 'tahoma';
}
.contentpane #text p:nth-child(1){
  margin-bottom: 6px;
}
.contentpane #text p:nth-child(2){
  margin-bottom: 4px;
}
.contentpane #text p:nth-child(3){
  margin-bottom: 22px;
}
.contentpane #text p:nth-child(4){
  margin-bottom: 8px;
}
.contentpane #text a{
  color: #3a9fd3;
}
.contentpane #text a img{
  margin-top: 5px;
  margin-right: 5px;
}

.main_bg{
  width: 980px;
  margin: auto;
  background: #fff;
  padding-bottom: 80px;
  position: relative;
  border: 1px solid #b1b1b2;
-webkit-box-shadow: inset 0px 0px 50px 3px rgba(202, 198, 198, 0.83);
-moz-box-shadow: inset 0px 0px 50px 3px rgba(202, 198, 198, 0.83);
box-shadow: inset 0px 0px 50px 3px rgba(202, 198, 198, 0.83);
}
.main_bg::before{
  position: absolute;
  content: '';
  top: 5px;
  left: -15px;
  z-index: 20;
  width: 1010px;
  height: 55px;
  background: url('../img/main_module_string.png') bottom center no-repeat;
}
.selected{
  position: absolute;
  content: '';
  top: 7px;
  left: 0px;
  z-index: 20;
  width: 183.59px;
  height: 50px;
}
