<div class="custom">
    <div class="copyright_f">CTLS © 2008-{{ dateFormat "2006" now }}. {{ T "all_rights_reserved" }}</div>
</div>
<div class="custom">
    <div class="devel">{{ T "developed_in" }}<a href="http://studiosdl.com" target="_blank">studiosdl.com</a></div>
</div>