<div id="main_module">
    <div class="main_bg">
    <div id="mainmod">
        <ul class="mainmod_nav">
            <li class="selected">
                <a href="/index.php#host">Хостинг</a>
            </li>
        </ul>
        <div id="host">
            <div class="host_content">
                <div class="host_headers">
                    <p class="host_quote">Дисковая квота в <span>Mb</span></p>
                    <p class="host_sites">Количество сайтов</p>
                    <p class="host_msql">Базы данных <span>MySQL</span></p>
                    <p class="host_traffic">Неограниченный трафик</p>
                    <p class="host_ftp">FTP</p>
                    <div class="price_selector">
                        <div class="period">
                            <p>Стоимость</p>
                            <a id="year_period" class="active">в год</a>
                        </div>
                        <div class="currency">
                            <p>Валюта</p>
                            <a id="uah" class="active">грн</a>
                        </div>
                    </div>
                </div>
                <div class="host_item first">
                    <p class="host_name">Start</p>
                    <p class="host_quote">900 mb</p>
                    <p class="host_sites">2 сайта</p>
                    <p class="host_msql">2</p>
                    <p class="host_traffic">
                        <span class="plus">+</span>
                    </p>
                    <p class="host_ftp">1</p>
                    <div class="currency">
                        <p class="month ua" style="display:block;">40 <span>грн</span></p>
                        <p class="year ua" style="display:none;">480 <span>грн</span></p>
                    </div>
                </div>
                <div class="host_item">
                    <p class="host_name">Portal</p>
                    <p class="host_quote">2 gb</p>
                    <p class="host_sites">3 сайта</p>
                    <p class="host_msql">3</p>
                    <p class="host_traffic">
                        <span class="plus">+</span>
                    </p>
                    <p class="host_ftp">3</p>
                    <div class="currency">
                        <p class="month ua" style="display:block;">60 <span>грн</span></p>
                        <p class="year ua" style="display:none;">720 <span>грн</span></p>
                    </div>
                </div>
                <div class="host_item">
                    <p class="host_name">Gold</p>
                    <p class="host_quote">5 gb</p>
                    <p class="host_sites">5 сайтов</p>
                    <p class="host_msql">5</p>
                    <p class="host_traffic">
                        <span class="plus">+</span>
                    </p>
                    <p class="host_ftp">5</p>
                    <div class="currency">
                        <p class="month ua" style="display:block;">70 <span>грн</span></p>
                        <p class="year ua" style="display:none;">840 <span>грн</span></p>
                    </div>
                </div>
                <div class="host_item">
                    <p class="host_name">Profi</p>
                    <p class="host_quote">10 Gb</p>
                    <p class="host_sites">8 сайтов</p>
                    <p class="host_msql">8</p>
                    <p class="host_traffic">
                        <span class="plus">+</span>
                    </p>
                    <p class="host_ftp">8</p>
                    <div class="currency">
                        <p class="month ua" style="display:block;">120 <span>грн</span></p>
                        <p class="year ua" style="display:none;">1440 <span>грн</span></p>
                    </div>
                </div>
                <div class="host_item">
                    <p class="host_name">Vip</p>
                    <p class="host_quote">16 Gb</p>
                    <p class="host_sites">10 сайтов</p>
                    <p class="host_msql">10</p>
                    <p class="host_traffic">
                        <span class="plus">+</span>
                    </p>
                    <p class="host_ftp">8</p>
                    <div class="currency">
                        <p class="month ua" style="display:block;">160 <span>грн</span></p>
                        <p class="year ua" style="display:none;">1920 <span>грн</span></p>
                    </div>
                </div>
                <div class="host_clear"></div>
            </div>
        </div>
    </div>
    </div> 
</div>
