<!DOCTYPE html">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" >
	<head>
		<title>Ошибка 404 Страница не найдена</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="/img/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        {{ if .Site.IsServer }}
        {{ $css := resources.Get "css/template.css" }}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}{{ substr $css.RelPermalink 1 }}" media="screen and (min-width:960px)"  type="text/css">
    {{ else }}
        {{ $css := resources.Get "css/template.css" | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}{{ substr $css.RelPermalink 1 }}" integrity="{{ $css.Data.Integrity }}"  type="text/css">
    {{ end }}
	<body class="contentpane">
		<div id="all">
			<div id="main">
                <div id="top_line">
                    <div class="top_menu">
                        <ul class="menu">
                            <li class="item-67 menu_item active"><a class="link" href="/">Главная</a>
                            </li>
                            <li class="item-68 menu_item "><a class="link" href="/about">О компании</a>
                            </li>
                            <li class="item-126 menu_item"><a class="link" href="/contacts">Контакты</a>
                                
                            </li>
                        </ul>
                    </div>
                </div>
				<div id="mainline" style="color: #3a9fd3; background: linear-gradient(to bottom, #ffffff 0%,#f1f3f5 26%,#e2e6ea 57%,#dde0e3 100%); padding-left: 10%; padding-top: 10%;">
					<div id="logo" style="float: left; margin: 0 0 300px 250px;width: 200px;"><img src="/img/logo.png" alt="logo-footer"></div>
					<div id="text"><p><span style="font-size:30px">Ой!</span> <span style="font-size:22px">Что-то случилось</span></p> <p><span style="font-size:22px">Страница не найдена</span></p><p><span style="font-size:26px; color:#ccc">код: 404</span></p><p><span style="font-size:18px; color:#ccc">Приглашаем перейти на</span></p><p><a href="/"><img src="/img/hhhome.png" alt="home-404"> главную страницу</a></p></div>
					<div style=" background: url(/img/6.png) no-repeat scroll 10% 90px transparent; clear: both; height: 300px; margin-top: 100px;" id="six"></div>
				</div>
				<div style="background: linear-gradient(to bottom, #dfdfdf 0%,#c4c4c3 1%,#a9a8a8 100%); border-bottom: 1px solid #666666;border-top: 1px solid #515151;color: #333333;font-size: 10px;height: 14px;padding-left: 10px;" id="bottomline" >Done</div>
			</div>
		</div>
	</body>
</html>
